body {
    margin: 10px;

}


.Principal {
    height: 350px;
    width: 400px;
    bottom: 200px;
    margin-left: 500PX;
    margin-right: 500PX;
    margin-top: 80px;
    margin-bottom: 80px ;
    background-color: rgb(229, 254, 247);
    border-radius: 30px;
    border-width: 2px;
    justify-content: center;
    border: 1px solid rgb(152, 224, 247);
    color:  rgb(98, 241, 193);
    font-size: 30px;
}


.encab {
    display: grid;
    width: 380px;
    margin-left: 10PX;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    text-decoration: none;

}
.encab:hover{
    text-decoration: underline;
}

.box-container {
    height: 900px;
    width: 620px;
    display: grid;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 140px 140px 140px 140px 140px;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
}


input[type=text], input[type=password] {
    width: 250px;
    margin: 8px ;
    padding: 14px 40px;
    display: inline-block;
    border: 1px solid rgb(124, 170, 130);
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
    color: rgb(98, 241, 129);
    text-decoration: none;
}

input:hover{
    text-decoration: underline;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 40px;
    border: none;
    cursor: pointer;
    width: 250px;
    margin: 8px ;
    border-radius: 15px;
    background-color: rgb(55, 175, 135);
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
    text-decoration: underline;
}

.tex{
    display: grid;
    justify-content: center;
    margin-inline-end: auto;
    box-sizing: border-box;
    padding: 5px 5px;
    color: rgb(97, 89, 89);
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}
.tex:hover{
    text-decoration: underline;
}
.centrado{
    text-align: center;
}