<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="estilo.css">
  
    <title>Layout</title>
</head>

<body>

    <header class="header">

        <H2 class="texto">
            Zafary
        </H2>
    </header>

    <main class="main">

        <aside class="aside">
            <ul>
                <li id="home"> <img classe="homeIcon" src="./logo/home.png">
                    <p class="menu"> Home </p>
                </li>
                <li id="wz"> <img src="./logo/whatzapp.png">
                    <p class="menu"> whatzapp </p>
                </li>

                <li id="zpty"> <img src="./logo/spotify.png" >
                    <p class="menu"> Zpotify</p>
                </li>
            </ul>

        </aside>


        <section>
            <h2 id="namePag">
                Home
            </h2>

            <iframe class=" iframe" id="contDinamic" src="../Home/index.html" frameborder="0">

            </iframe>

        </section>


    </main>
    <script type="text/javascript" src="layout.js"></script>
   
</body>

</html>