* {
    margin: 0;
    padding: 0;
}

body {

    display: grid;
    grid-template-columns: 30% 70%;
    cursor: default;
}
header {
    margin: 0px;
    padding: 0px;
    background: #dcdcdc;
}

header nav {

    border-left-color: black;

}

header nav h2 {
   
    height: 100px;
    text-align: left;
    padding-top: 0px;
    background: #dcdcdc;
    font-size: 40px;
    padding-left: 40px;
}

header nav ul {
    padding: 0px;
    background: white;


}

header nav ul li {
    border: 1px solid #A0A0A0;
    list-style: none;
    height: 20px;
    text-decoration: double;
    text-align-last: bottom;
    padding-left: 10px;
    padding-top: 80px;
    cursor: pointer;
}
.nombre{
    position: relative;
    top: -110px;
    left: 130px;
    font-size: 19px;
}

main {
    margin: 0px;
    padding: 0px;
    background: #f4f4f4;
    border-left: 1px solid black;
    background: #dcdcdc;
}

main h2 {
    background: #dcdcdc;
    height: 100px;
    text-align: center;
    padding-top: 0px;
    font-size: 50px;
    position: relative
}
h2{
    position: relative;
    top: 10px;
}

/* main section {
    border: 3px solid cyan;

}*/

main section p {
    
    height: 495px;
}

main section input {
    border: 1px solid #808080;
    justify-content: bottom;
    width: 96%;
    padding-left: 20px;
    font-size: 20px
}
.estilos{
    text-decoration: none;

}
.estilos:hover{
    text-decoration: underline;
}
li img{
    position: relative;
    top: -60px;
    left: 30px;
    height: 70px;
    border-radius: 50px ;
}

li:hover {

    background-color:#ececec;
}
.input{
   /* border-radius: 50px;*/
    height: 40px;
    width: 93%;
    position: relative;
    left: 20px;
    top: 50px;
}
.mensaje{
    background: #f4f4f4;
}